*{
    margin: 0;
    padding: 0;
}
.content {
  background-image: url("images/224.png");
  background-repeat: no-repeat; 
  background-size: cover;     
  background-position: center;
  width: 100%;
  height: 80vh; 
  display: flex;
  flex-direction: column;
  align-items: center;  
  justify-content: flex-start; 
  padding-top: 30px;     
  padding-bottom: 50px;
  gap: 1px;
}

h1 {
  font-size: 35px;
  font-family: Poppins, sans-serif;
}

p {
  font-size: 15px;
  font-family: Poppins, sans-serif;
}
.btn-1{
  background-color: rgb(0, 162, 255);
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 15px;
  color: white;
}
a{
  text-decoration: none;
}
.btn{
  width: 80px;
  height: 30px;
  border: 1px solid rgb(0, 162, 255);
  border-radius: 15px;
  color: rgb(0, 162, 255);
}

.btn:hover{
  background-color: rgb(0, 162, 255);
  color: white;
}
